---
layout: page
title: Portfolio
background: '/img/bg-portfolio.jpg'
---

<link href="https://fonts.cdnfonts.com/css/aux-dotbitc?styles=9328,9331" rel="stylesheet">

{% for item in site.portfolio %}
<article class="post-preview">
  <a href="{{ item.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ item.title }}</h2>
    {% if item.subtitle %}
    <h3 class="post-subtitle">{{ item.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ item.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
    <br>
    {% if item.icon %}
    <img class="post-icon-gif" src="{{ item.icon | prepend: site.baseurl | replace: '//', '/' }}" alt="img">
    {% endif %}
    <br>
  </a>
  <!--<p class="post-meta">{{ item.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=item.content %}
  </p>-->
</article>

<hr>
{% endfor %}